In [89]:
# 1. Establish a connection between Python and the Sakila database.

import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

bd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [90]:
# 2. Write a Python function called rentals_month that retrieves rental data for a given month and year 

def rentals_month(engine, month, year):
    query = f"SELECT * FROM rental WHERE month(rental_date) = {month} AND year(rental_date) = {year} LIMIT 999999999"        
     # Hay tantas filas que no se muestran todas ni con ese LIMIT. Las del 2006 no se muestran a menos que ordene por año en DEC
    df = pd.read_sql(query, con=engine)
    return df

df_question2_July_2005 = rentals_month(engine, 7, 2005)

df_question2_Aug_2005 = rentals_month(engine, 8, 2005)

In [91]:
# 3. Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and 
# returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

def rental_count_month(df, month_param, year_param):
    new_df = df.copy()
    new_df = new_df[(new_df['rental_date'].dt.month == month_param) & (new_df['rental_date'].dt.year == year_param)]
    new_df = new_df.groupby('customer_id')["rental_date"].count().rename(f"rentals_{month_param}_{year_param}")
    return pd.DataFrame(new_df)

In [92]:
df1 = rental_count_month(df_question2_July_2005, 7, 2005)
df2 = rental_count_month(df_question2_Aug_2005, 8, 2005)

df1

             rentals_7_2005
customer_id
1                        12
2                        14
3                        13
4                         5
5                        16
...                     ...
595                      19
596                       6
597                       7
598                      16
599                       7

[599 rows x 1 columns]

In [93]:
# 4. Create a Python function called compare_rentals that takes two DataFrames as input containing the number of rentals made by each customer in different months and years.

def compare_rentals(df1, df2):
    new_df = pd.merge(df1, df2, on='customer_id', how='inner')

    new_df["difference"] = new_df.iloc[:, 0] - new_df.iloc[:, 1]

    return new_df


compare_rentals(df1, df2)

             rentals_7_2005  rentals_8_2005  difference
customer_id
1                        12              11           1
2                        14              11           3
3                        13               7           6
4                         5              11          -6
5                        16              13           3
...                     ...             ...         ...
595                      19               8          11
596                       6              13          -7
597                       7              12          -5
598                      16               5          11
599                       7               7           0

[599 rows x 3 columns]